<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <system.webServer>
    <httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="http://localhost:85" />
            <add name="Access-Control-Allow-Headers" value="Content-Type" />
        </customHeaders>
    </httpProtocol>
    <handlers>
        <add name="iisnode" path="Server.js" verb="*" modules="iisnode" /> 
    </handlers>
    <rewrite>
        <rules>
            <rule name="nodejs">
            <match url="(.*)" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            </conditions>
            <action type="Rewrite" url="/Server.js" />
            </rule>
        </rules>
    </rewrite>
            <security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
</security>
    </system.webServer>


</configuration>
